@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root {
  --green: #008542;
  --yellow: #ffe000;
  --red: #e70001;
  --charcoal-grey: #36454f;
  --gradient: linear-gradient(45deg, var(--green), var(--yellow), var(--red));
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nav-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav-container ul a {
  margin: 0 30px;
  display: inline-block;
  height: 15px;
  transition: all 0.2s linear;
}

.nav-container ul {
  list-style-type: none;
}

.current {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.current-hover:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: border 0.2s linear;
}

.tag {
  width: 150px;
  height: 8px;
  border-radius: 15px;
}

.home {
  background-color: var(--green);
}

.hobbie {
  background-color: var(--yellow);
}

.about {
  background-color: var(--red);
}

.back-to-top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 1;
  background-color: var(--charcoal-grey);
  padding: 0px 5px;
  border-radius: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--charcoal-grey);
}

.landing-page-text-container {
  text-align: center;
}

.line-home {
  margin: auto;
  width: 450px;
  height: 3px;
  background-image: linear-gradient(45deg,
      var(--green),
      var(--yellow),
      var(--red));
  border-radius: 25px;
}

.subtext-home {
  font-family: 'Finger Paint', cursive;
  color: white;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.landing-page-text-intro {
  letter-spacing: 20px;
  font-family: 'Finger Paint', cursive;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 80px;
  transform: translate(-50%, -50%);
}

.triangle-container {
  position: relative;
  overflow: hidden;
}

.triangle {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 30vw solid var(--yellow);
  border-bottom: 50vw solid transparent;
  top: 3%;
  right: 0%;
  transform: rotate(0deg);
}

.triangle-bottom {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 30vw solid var(--yellow);
  border-bottom: 50vw solid transparent;
  bottom: 0%;
  left: 0%;
  transform: rotate(180deg);
}

.img-props {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
}

.landing-page-img-1 {
  background-position: 50%;
  background-image: url('./assets/Beach.jpg');
}

.landing-page-img-2 {
  margin: 40px 0;
  background-position: 50%;
  background-image: url('./assets/charcoal.jpg');
}

.landing-page-img-3 {
  background-image: url('./assets/Reformation.jpg');
}

.hobbies-page-img-1 {
  background-image: url('./assets/headphones.jpg');
}

.hobbies-page-img-2 {
  margin: 40px 0;
  background-position: 70% 50%;
  background-image: url('./assets/Medusa.jpg');
}

.hobbies-page-img-3 {
  background-size: cover;
  background-image: url('./assets/maria-felix.jpg');
}