@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Walter+Turncoat&display=swap');
@keyframes gradient {
  0% {
    background-position: 68% 0%;
  }
  50% {
    background-position: 33% 100%;
  }
  100% {
    background-position: 68% 0%;
  }
}
:root {
  --green: #0ea057d2;
  --yellow: #ffe100e0;
  --red: #e70000e5;
  --charcoal-grey: #36454f;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
footer {
  text-align: center;
  background: var(--charcoal-grey);
}
#peace {
  height: 45px;
}
#about-text {
  overflow: hidden;
  font-family: 'Walter Turncoat', cursive;

  font-size: 1.1rem;
}
.nav-container {
  position: absolute;
  z-index: 1;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-container ul li {
  display: inline-block;
  transition: all 0.5s linear;
}
.active {
  border-bottom: 2px solid white;
}
.hover:hover {
  border-bottom: 2px solid white;
}
.nav-container ul li a {
  margin: 0 50px;
  text-decoration: none;
  font-family: 'Walter Turncoat', cursive;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
}

.home:hover {
  background-color: var(--green);
}

.hobbie:hover {
  background-color: var(--yellow);
}

.about:hover {
  background-color: var(--red);
}

.back-to-top {
  position: fixed;
  right: 12%;
  bottom: 10%;
  z-index: 3;
  background: var(--charcoal-grey);
  padding: 0px 5px;
  border-radius: 15px;
  border: 1px solid white;
  transition: all 0.3s linear;
}

.back-to-top::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, var(--green), var(--yellow), var(--red));
  z-index: -1;
  transition: all 0.3s linear;
  border-radius: 15px;
  opacity: 0;
  background-size: 650% 650%;
  animation: gradient 3s ease infinite;
}

.back-to-top:hover::before {
  opacity: 1;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--charcoal-grey);
}

.landing-page-text-container {
  text-align: center;
}

.line-home {
  margin: auto;
  width: 400px;
  height: 4px;
  background: linear-gradient(45deg, var(--green), var(--yellow), var(--red));
  border-radius: 25px;
}

.subtext-home {
  font-family: 'Finger Paint', cursive;
  color: white;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.landing-page-text-intro {
  letter-spacing: 20px;
  font-family: 'Finger Paint', cursive;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 50px;
  transform: translate(-50%, -50%);
}

.triangle-container {
  position: relative;
  overflow: hidden;
}
.right-text {
  right: 15px;
  top: 10%;
  text-align: right;
}
.left-text {
  left: 15px;
  bottom: 3%;
}
.triangle-text {
  position: absolute;
  font-family: 'Walter Turncoat', cursive;
  width: 230px;
  color: white;
  font-size: 1.1rem;
  z-index: 2;
}
.triangle {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 30vw solid var(--green);
  border-bottom: 49vw solid transparent;
  top: 40px;
  right: 0%;
  transform: rotate(0deg);
}

.triangle-bottom {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 30vw solid var(--green);
  border-bottom: 49vw solid transparent;
  bottom: 0%;
  left: 0%;
  transform: rotate(180deg);
}

.img-props {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
}

.landing-page-img-1 {
  background-position: 50%;
  background-image: url('./assets/Beach.jpg');
}

.landing-page-img-2 {
  margin: 40px 0;
  background-position: 50%;
  background-image: url('./assets/charcoal.jpg');
}

.landing-page-img-3 {
  background-image: url('./assets/Reformation.jpg');
}

.hobbies-page-img-1 {
  background-image: url('./assets/headphones.jpg');
}

.hobbies-page-img-2 {
  margin: 40px 0;
  background-position: 70% 50%;
  background-image: url('./assets/Medusa.jpg');
}

.hobbies-page-img-3 {
  background-size: cover;
  background-image: url('./assets/maria-felix.jpg');
}
.about-img {
  background-size: cover;
  background-image: url('./assets/eleb46tsdoh61.jpg');
}
.about-container {
  position: relative;
}
.bio {
  position: absolute;
  display: inline-block;
  width: 48%;
}
.left-div {
  top: 120px;
  text-align: right;
  float: left;
}
.left-div img {
  width: 60%;
  border-radius: 100px;
}

.right-div {
  top: 120px;
  right: 0%;
  color: white;

  float: right;
}
.text-container {
  width: 60%;
  padding: 20px;
  border-radius: 40px;
  background-color: rgba(53, 53, 53, 0.712);
}
.bio-header {
  font-family: 'Finger Paint', cursive;
  font-size: 38px;
  line-height: 1.5;
}
.line {
  width: 400px;
  height: 4px;
  background: linear-gradient(45deg, var(--green), var(--yellow), var(--red));
  border-radius: 45px;
}
.hobbies {
  border-right: 30vw solid var(--yellow);
}
