@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content-container {
  margin-left: 135px;
  color: white;
}

.content {
  width: 88vw;
  min-height: 97vh;
  padding: 2rem 2rem;
  opacity: 0;
  animation: opacityAnimation 2s ease forwards, glow 2s ease forwards;
  animation-delay: 2s;
}
